body {
    margin: 0 0 0 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
   }
nav {

    background: rgba(226,226,226,.8);
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
}
nav ul {
    width: 50%;
    display: inline;
    margin: 0 auto;
}
nav ul li {
    display: inline;
    padding-right: 15px;
    margin: 0 0 0 0;
    border-right: 2px groove grey;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    color: rgb(35, 80, 62);
    border-bottom: 2px solid rgb(35, 80, 62);


}
.main {

    height: 100%;

}
.main-content {
    margin:0 auto;
    width: 75%;
    height: 100%;
}
.main-header {
    background: rgb(35, 80, 62);
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    margin: 0 0 0 0 ;
}
.main-header h1 {
    border-radius: 20px;
    color: rgba(226,226,226,.8);
    margin-bottom: 0;
    margin-top: 0;
}
.sub-content {
    padding-top:20px;
    width: 80%;
    margin: 0 auto;
}
.sub-content h1 {
    text-align: center;
    font-size: 40px;
}
.img-slider {
    width: 60%;
    padding-right: 25px;
    margin:0 auto;
}
.img-holder {
    width: 90%;
    margin-right: 25px;
}
.img-slider img {
    background: white;
    border: 15px solid rgba(226,226,226,.8);
    padding: 10px;
    display: block;
    height: 95%;
    width: 95%;
}
.buttons {
    margin: 0 auto;
    width: 150px;
}
.buttons button {
    width: 70px;
}

.ingredients, .recipe-title {
    float: left;
}
.recipe-title h1 {
    text-align: center;
    margin: 25px auto;
}
.instructions {
    margin-right: 5px;
    float:right;
}
.recipe-img {
    padding-top: 25px;
    float: right;


}
.recipe-img img {
    margin: 0 auto;
    height: auto;
    width: 90%;
    border-radius: 15px;
}
.main-content h1 {
    background: rgb(35, 80, 62);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius: 20px;
    color:rgba(226,226,226,.8);
}
.recipe-title {
    margin-left: 5px;
}
h3 {
    border-bottom: 2px solid black;
}
.recipe {
    overflow: hidden;
    /*background-color: rgba(35, 80, 62, 0.3);
    */
    border: 2px solid rgb(35, 80, 62);
    border-radius: 15px;
}
.recipe section{
    width: 45%;
}
.border .recipe-img img {
    width: 400px;
    height:auto;
    margin-right: 15px;
    margin-bottom:15px;
}

.border {
    width: 100%;
    overflow: hidden;
    /*background-color: rgba(35, 80, 62, 0.3);
    */
    border: 2px solid rgb(35, 80, 62);
    border-radius: 15px;
}
.links {
    text-decoration: none;
    font-size: 25px;
    width: 200px;
    float: left;
}

.bio-list {
    text-decoration: none;
    font-size: 25px;
    float: left;
    width: 60%;
}

.link-img {
    width: 400px;
    height: auto;
}

.links, .bio-list li {
    color: black;
    padding-bottom: 5px;
    list-style-type: none;
}
.links a {
    text-decoration:none;
}
.links a:visited {
    color: black;
}
.links a:hover {
    font-weight: 900;
}

.bio-img {
    height: auto;
    padding-right: 20px;
    padding-top: 20px;
    float: right;
    width:22%;

}

@media (max-width: 960px) {
    .main-header {
        width: 100%;
        margin: 0 auto;
        font-size: 35px;
    }
    nav {
        font-size: 22px;
    }
    .main-content {
        width: 95%;
    }
    .main-content h1, .main-content h2 {
        font-size: 30px;
    }
    .recipe-img, .recipe-title {
        margin: 0 auto;
        float: none;
    }
    .recipe .recipe-title {
        width: 60%;
    }
   .recipe .recipe-img {
      width: 75%;
    }
    .recipe-img img {
        width: 100%;
    }
}

@media (max-width: 650px) {

    .main-header {
        font-size: 22px;
    }
    nav {
        font-size: 15px;
    }
    .main-content h1, .main-content h2 {
        font-size: 28px;
    }
    .recipe section {
        float: none;
        width: 100%;
    }
    .recipe {
        border: none;
    }
}