.col{
    margin: 0 auto;
    float: left;
    display: inline;
    padding: 10px;
}

.container {
    width: 90%;
    margin: 0 auto;
}
@media (min-width: 400px) {

    .col {
        width: 100%;
    }
}

@media (min-width: 800px) {

    .col {
        width: 40%;
    }
}
@media (min-width: 1200px) {

    .col {
        width: 30%;
    }
}

